.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 1.5rem;

}

.form-group{
    display: flex;
    flex-direction: column;
    color: #000;
    width: 100%;
    margin-bottom: 3rem;

}

.button-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: #E80C0E;
    justify-content: center;
    align-items: center;
    border: none;
    
}

.button-container:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}


.my-swal{
    z-index: 100000000000;
}