*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-card img{
	position: absolute;
	max-width: 100%;
    height: 450px;
	object-fit: cover;
}

.ui-service-card img{
	max-width: 100%;
    height: 450px;
	object-fit: cover;
}

.ui-card .heading{
	width: 100%;
	height: 100%;
	z-index: 6666666;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: self-start;
	padding-left:5px;
}



.ui-card .heading:hover{
	opacity: 0;
	transition: all 0.3s ease-out;

}


.ui-card .heading  .line{
	width: 150px;
	height: 1px;
	border-bottom: 4px solid rgb(255, 255, 255);
	margin-bottom:2rem;
	}

	

.ui-card .heading h3{
	font-weight: 700;
	font-size: 32px;
	color: #e80c10;
	margin: 0 0 20px;
	/* transform: translateY(30px); */
	opacity: 1;
	transition: all 0.3s ease-out;
}

.ui-card{
    height: 400px;
	width: 300px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
    border-radius: 10px;
	background:radial-gradient(#111 50%, #000 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
	display:flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 376px) {
		height: 400px;
		width: 250px;
	  }
}
.ui-card_second{
    height: 400px;
	width: 550px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	@media screen and (max-width: 376px) {
		height: 300px;
		width: 250px;
	  }
}

.ui-service-card{
    height: 400px;
	width: 550px;
	position: relative;
	overflow: hidden;
	/* transition: all 0.3s ease-out; */
    border-radius: 10px;
	background:radial-gradient(#111 50%, #000 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
	display:flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 769px) {
		height: 400px;
		width: 550px;
	  }

	@media screen and (max-width: 569px) {
		height: 300px;
		width: 550px;
	  }

	@media screen and (max-width: 376px) {
		height: 200px;
		width: 300px;
	  }
}

.ui-card_second{
    height: 400px;
	width: 550px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	@media screen and (max-width: 769px) {
		height: 200px;
		width: 400px;
		padding: 1px;
		margin-top: 1px;
    	margin-bottom: 1px;
	  }

	@media screen and (max-width: 376px) {
		height: 300px;
		width: 250px;
	  }
}

.ui-card img{
	transform: scale(1.3);
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.1) translateY(-20px); 
	opacity: 0.3
}
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 18px;

	@media screen and (max-width: 376px) {
		font-size: medium;
	  }
}
.ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	color: #e80c10;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;
}

.ui-card .description .tag-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;
	height:35px;
}


.ui-card .description .tag-container .tags{
	/* background-color: #e80c10; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	flex-wrap: wrap;
}

.ui-card .description .tag-container .tags span{
	background-color: #e80c10; 
  	padding: 3px; 
  	border-radius: 3px;
	font-size: 14px;

	  @media screen and (max-width: 376px) {
		font-size: small;
	  }
}

.ui-card .description  .line{
	width: 150px;
	height: 1px;
	border-bottom: 4px solid rgb(255, 255, 255);
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;
}

.ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
	font-size: larger;
}

.ui-card .description p span{
	font-size: medium;
}

.ui-card .description a{
	color: #fff;
	background:#34aff3;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.4s;
}
.ui-card .description a:hover{
	background:#0a83c5;
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description .line{
	opacity: 1;
	transform: translateY(0px);
}

.ui-card:hover .description .tag-container{
	opacity: 1;
	transform: translateY(0px);
}

.service-button{
	background-color: #E80C0E;
	color: #fff;
	padding: 10px;
	border-radius: 30px;
	border: none;
	font-weight: bolder;
	width: 200px;
	height:fit-content;
	font-size: medium;
	text-decoration: none;
	text-align: center;
	align-self: center;
  }
  
  .service-button:hover{
	background-color: #fff;
	color: #E80C0E;
  }