.slider-icon{
    z-index:1000000000000000000000000000;
}

.translator-button{
    background-color: transparent;
    border: none;
    outline: none;
    
    
}

.translator-button:hover{
    cursor: pointer;
    background-color: #00000091;
}

.translator-button:focus{
    outline: none;
    background-color: #00000091;

}

.translator-button:active{
    outline: none;
    background-color: #00000091;

}

.custom-dropdown-menu {
    width: 150px !important;
  }